@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.btn-transparent .btn-black {
  background-color: rgb(0, 0, 0);
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  font-size: 30px;
  border-radius: 25px;
}
.btn-transparent .btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent .btn-black:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

button.menu.bars.d-block.d-md-none {
  border: none;
  outline: none;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid #dad9d3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .backround-lines {
  position: absolute;
  bottom: 0;
  left: -150px;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase img {
    display: block;
  }
}

.ram {
  border: 2px solid #d4d0d0;
  padding: 10px;
  max-width: 1300px;
  height: 600px;
  color: #eae0e0;
  background-color: #ffffff;
  margin: 60px auto 20px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
@media (max-width: 1200px) {
  .ram {
    border: none;
  }
}

.container.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.container.features {
  margin-top: 50px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container.features .header h2 {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #f94d1c;
  margin-top: -70px;
}

.container.features .btn-yellow {
  display: inline-block;
  padding: 10px 150px;
  margin-top: -110px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .container.features .btn-yellow {
    padding: 10px 100px;
  }
}
@media (max-width: 992px) {
  .container.features .btn-yellow {
    padding: 15px 200px;
  }
}

.container.features .content .p1 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #191919;
  width: 460px;
  height: 300px;
  margin: 0 auto;
  text-align: left;
  line-height: 1;
  margin-top: -10px;
}
@media (max-width: 1200px) {
  .container.features .content .p1 {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .container.features .content .p1 {
    font-size: 50px;
    line-height: 1;
    width: 700px;
    padding-left: -100%;
  }
}

.container.advice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  width: 400px;
  height: 400px;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1200px) {
  .container.advice {
    padding-left: 10%;
  }
}
@media (max-width: 992px) {
  .container.advice {
    padding-top: 400px;
    left: 185px;
  }
}

.container.advice img:nth-child(1) {
  grid-row: -1/1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.container.advice img:nth-child(2) {
  grid-row: -1/1;
  grid-column-start: 4;
  grid-column-end: 5;
}

.container.advice img:nth-child(3) {
  grid-row: -2/0;
  grid-column-start: 3;
  grid-column-end: 4;
}

.container.advice img:nth-child(4) {
  grid-row: 0/2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.AboutCompany .container.AC h3 {
  font-family: "inter", sans-serif;
  font-size: 15px;
  color: #f94d1c;
  font-weight: 400;
  padding-left: 55%;
  padding-top: 8%;
}
.AboutCompany .container.AC .p1 {
  font-size: 40px;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  color: #191919;
  max-width: 400px;
  margin-left: 55%;
  margin-top: 2%;
}
.AboutCompany .p2 {
  color: #191919;
  font-family: "inter", sans-serif;
  font-size: 12px;
  max-width: 500px;
  margin-left: 55%;
}
.AboutCompany .p3 {
  color: #191919;
  font-family: "inter", sans-serif;
  font-size: 12px;
  max-width: 500px;
  margin-left: 55%;
  margin-top: 2%;
}
@media (max-width: 992px) {
  .AboutCompany {
    margin-top: 400px;
  }
}

.images-kvinna {
  width: 500px;
  height: 500px;
  margin-top: -34%;
  margin-left: 150px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .images-kvinna {
    margin-left: 100px;
    margin-top: -43%;
  }
}
@media (max-width: 992px) {
  .images-kvinna {
    margin-top: -74%;
    max-width: 350px;
    max-height: 800px;
  }
}

.images-box {
  position: relative;
  z-index: 2;
  margin-left: -38%;
  margin-top: -13%;
  width: 390px;
}
@media (max-width: 1200px) {
  .images-box {
    margin-left: -300px;
    z-index: 1;
    left: -290px;
  }
}
@media (max-width: 992px) {
  .images-box {
    padding: 8px;
    margin-top: -50%;
    max-width: 300px;
    max-height: 300px;
    margin-left: -145px;
  }
}

.Brown {
  position: relative;
  z-index: 4;
  color: #191919;
  font-size: 15px;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  margin-left: 5%;
  top: -45px;
}
@media (max-width: 1200px) {
  .Brown {
    top: -20px;
    margin-left: -20px;
  }
}
@media (max-width: 992px) {
  .Brown {
    font-size: 9px;
    top: -180px;
    left: -25px;
  }
}

.Founder {
  color: #f94d1c;
  z-index: 4;
  position: relative;
  font-size: 12px;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  margin-left: 15%;
  top: -64px;
}
@media (max-width: 1200px) {
  .Founder {
    top: -40px;
    margin-left: 120px;
  }
}
@media (max-width: 992px) {
  .Founder {
    font-size: 9px;
    top: -193px;
    left: -82px;
  }
}

.Box-text {
  z-index: 4;
  position: relative;
  font-size: 12px;
  font-family: "inter", sans-serif;
  font-weight: 500px;
  width: 250px;
  margin-top: -1%;
  top: -20px;
  left: 4%;
}
@media (max-width: 1200px) {
  .Box-text {
    top: -5px;
    left: -20px;
  }
}
@media (max-width: 992px) {
  .Box-text {
    top: -170px;
    font-size: 10px;
    left: -45px;
    max-width: 180px;
  }
}

.btn-black {
  background-color: black;
  border: 1px solid #191919;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 10px;
  border-radius: 25px;
  margin-left: 55%;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: white;
  border: 1px solid #191919;
  color: black;
}

.btn-video {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 10px;
  border-radius: 25px;
  position: relative;
  bottom: -2px;
  left: 3%;
  transform: translateX(-50%);
  text-align: center;
}
.btn-video i {
  margin-left: -90px;
  font-size: 3em;
  vertical-align: middle;
}
.btn-video:hover {
  background-color: transparent;
  border: 1px solid #191919;
  color: black;
  padding: 10px 55px;
}